<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        h1 {
            color: tomato;
            margin: auto 20px;
        }

        p {
            color: cadetblue;
            margin: auto 20px;
            border-radius: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <h1>This is the home page ...</h1>
    <hr />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo cupiditate, quisquam optio architecto laudantium
        numquam eius ducimus enim magnam dolor culpa quia nesciunt reiciendis maxime? Qui culpa, dolor, quam fuga in
        recusandae fugit ullam corrupti repellat ipsa expedita, eveniet tenetur temporibus! Facere accusantium amet
        quidem laborum vero. Autem deleniti quisquam magni nam quaerat incidunt qui, fugiat, sit nisi fugit doloremque?
        Provident, dolore laudantium? A ab aspernatur blanditiis minima, in libero. Inventore soluta, dicta est iste,
        nulla laboriosam repudiandae officiis quod accusantium doloremque laborum dolorem repellat nisi totam quas
        tempore? Numquam ab beatae quasi harum nesciunt cum architecto non maxime doloribus! Vitae facilis in fuga quam
        tempore laudantium omnis hic velit dolore culpa incidunt recusandae amet, vel iusto! Obcaecati quaerat porro ex
        ipsa harum facere ipsam labore quos magni? Dolore nam deserunt sapiente optio placeat distinctio, atque id
        provident debitis unde perferendis ullam totam ducimus! Nobis corrupti nemo id quisquam ea velit iure dolores
        non soluta veniam necessitatibus, illum earum quas sequi amet suscipit? Similique, cumque velit! Assumenda nam
        maiores omnis impedit, deleniti eaque hic provident accusantium rerum optio. Rem iure, odio similique,
        voluptatem nobis quis iste, aut hic veritatis delectus labore voluptatum. Ad, pariatur molestias cum quasi
        itaque enim eum voluptatum sed autem repudiandae, consectetur quibusdam magni at sint voluptates accusamus quod
        distinctio veritatis est exercitationem corrupti. Dolorum hic earum accusamus placeat blanditiis odit cumque
        voluptatem exercitationem eaque doloribus tempore cum neque in eum quidem modi non laudantium, dolor voluptates
        accusantium, qui at, consequuntur iure nesciunt? Minus iste, voluptatem, quibusdam eligendi, maiores hic amet
        temporibus nisi illo autem tempore facilis tempora nulla laboriosam ratione veniam est possimus fugiat sit error
        facere? Sint tenetur quasi cupiditate magnam, fugit quo nobis sapiente iure assumenda repellat sequi delectus
        quos vel at quod iste eius voluptate exercitationem consequuntur ducimus reprehenderit illo quidem. Recusandae
        sequi suscipit voluptates quae expedita cum quia officia in debitis numquam alias magni neque veritatis voluptas
        officiis reprehenderit incidunt ut iste atque architecto, aperiam quos iure ratione? Iste atque veritatis
        molestiae perferendis, doloribus distinctio voluptatibus cupiditate quas accusamus id sequi at non nulla odio
        repudiandae? Obcaecati vel tempore officia quos qui! Inventore, sapiente ducimus temporibus consequuntur, at
        cupiditate praesentium quidem impedit, incidunt asperiores excepturi non voluptatum a perferendis harum?
        Veritatis deleniti quaerat aperiam quibusdam non, ipsam provident atque rerum sapiente. Mollitia explicabo
        maxime ipsam dolore voluptas consequuntur autem praesentium neque cupiditate, libero nam hic et fugiat,
        repellendus consequatur nisi aliquid vel nostrum ut accusamus nulla corporis? Similique, quasi molestias odit
        excepturi incidunt enim porro recusandae amet quibusdam fuga! Inventore numquam ratione tempora quo corporis
        voluptates sit obcaecati autem. Natus reiciendis molestias aliquid totam similique vero dolorum quisquam
        commodi, mollitia sunt officia ex ad praesentium odit optio, delectus saepe provident? Exercitationem fuga
        libero iste commodi, sunt odio delectus qui cumque maxime, optio, velit officiis ipsam nobis architecto laborum
        autem labore debitis deserunt aspernatur quos nisi aperiam? Delectus incidunt, eos eligendi architecto, pariatur
        labore perspiciatis qui maiores molestiae cum ex deserunt optio, tenetur nostrum dolor ipsam minima odit
        repellendus. Voluptate, omnis fugiat! Velit!</p>
</body>

</html>