<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
        <style>
            h1{
                color: tomato;
                margin: auto 10px;
            }
            p{
                color: cadetblue;
                margin: auto 10 px;
                border: 3px;
                border-radius: 5px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        </style>
    </head>

    <body>
        <h1>This is the home page ...</h1>
        <hr />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque quo illum facere ratione, laboriosam laborum
            fugit iure magnam autem omnis natus officia rerum inventore provident aut itaque ut deserunt et.</p>
    </body>

</html>